@charset "UTF-8";

/*======= Cores utilizado no site =======
#131A40
#273273
#4E64A6
#829FD9
#99B7F9
*/

/*======= configuraçao da paginas secundaria =======*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*======= configuraçao imagem inicial =======*/
picture img{
    width: 100%;
    height: 100vh;
}

section{
    background-color: white;
    text-align: center;
}